.formGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 500px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #373737;
}

.required {
  color: red;
  margin-left: 2px;
}

.input {
  padding: 8px 9px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  color: #2d2d2d;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;

  &:focus {
    border-color: dodgerblue;
    outline: 1.8px solid dodgerblue;
    outline-offset: 1px;
    box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.25);
  }
}



.input::placeholder {
  color: #858585;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
